/*.container{
     background-color: rgb(236, 233, 233); 
}*/

table{
    border-radius: 10px;
    background-color: rgb(236, 233, 233);;
    width: 100%;
    margin-left: 20px;
}
seat-allocation{
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.btn{
width: 150px;
border-radius: 25px;
}

.available-seat{
 color:green;
}

.allocated-seat{
    color:red;
    }
    
    .selected-seat{
        color:blue;
        }
        
            h3{
                font-family: 'Times New Roman', Times, serif;
            }